<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>

<body>
    <header>

    </header>

    <div id="app">

        <div class="container big-container">
            <div class="row">
                <div class="col-5 border p-0 list-container">
                    <div class="d-flex flex-column">
                        <div class="my-navbar d-flex justify-content-between">
                            <div class="d-flex">
                                <img src="imgs/avatar_io.jpg" alt="" class="avatar">
                                <p class="mt-3">Sofia</p>
                            </div>
                            <div class="dflex mt-2 p-2">
                                <i class="fa-regular fa-circle"></i>
                                <i class="fa-solid fa-message mx-3"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>

                        <!-- div notifiche -->
                        <div class=" notifiche d-flex p-2">
                            <i class="fa-solid fa-bell-slash rounded-5 px-2 py-2"></i>
                            <div class="d-flex flex-column mt-1">
                                <p class="m-0">Ricevi notifiche di nuovi messsaggi</p>
                                <p class="m-0"><a href="#">Attiva notifiche desktop</a></p>
                            </div>
                        </div>
                        <!-- form di ricerca del contatto -->
                        <div class="input-group bg-white">
                            <span class="input-group-text border-0 rounded-2" id="basic-addon1"><i
                                    class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control border-0" placeholder="Cerca o inizia una nuova chat"
                                aria-label="Username" aria-describedby="basic-addon1" v-model="search">
                        </div>
                        <!-- lista contatti -->
                        <div class="list-chat flex-column">
                            <div class="my-list-item">
                                <!-- qui cambio "contatti" in "listaContatti" per permettere di filtrare gli elementi-->
                                <div class="d-flex single-chat" v-for="(contact, i) in listaContatti"
                                    @click="onChatClick(contact)"
                                    v-bind:class="currentContact === contact ? 'active' : ''">
                                    <img v-bind:src="'imgs/avatar' + contact.avatar + '.jpg'" alt="" class=" avatar">
                                    <div class="d-flex flex-column mt-1">
                                        <p class="m-0">{{contact.name}}</p>
                                        <p class="m-0">Utlimo messaggio inviato...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7 border p-0">
                    <!-- navbar della chat -->
                    <div class="d-flex flex-column">
                        <div class="my-chat-nav d-flex justify-content-between">
                            <div class="d-flex">
                                <img v-bind:src="'imgs/avatar' + currentContact.avatar + '.jpg'" alt="" class="avatar"
                                    v-if="currentContact">
                                <div class="d-flex flex-column mt-1">
                                    <p class="m-0" v-if="currentContact">{{currentContact.name}}</p>
                                    <p class="m-0">Ultimo accesso oggi alle 12.00</p>
                                </div>
                            </div>
                            <div class="dflex mt-2 p-2">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip mx-3"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <!-- contenitore della chat -->
                        <div class="my-chat-container p-5" v-for="(chat, i) in contatti"
                            v-bind:class="currentContact === chat ? 'active' : ''">
                            <div class="d-flex flex-column messages-container">
                                <p class=" p-2 rounded-3" v-for="(messageGroup, i) in chat.messages"
                                    v-bind:class="messageGroup.status === 'sent' ? 'sent-message' : 'received-message'">
                                    {{messageGroup.message}}</p>

                            </div>
                            <!-- <div class="sent d-flex justify-content-end">
                                <p class="d-inline-block p-2 rounded-2">Ciao come stai</p>
                            </div>
                            <div class="received d-flex justify-content-start">
                                <p class="d-inline-block p-2 rounded-2">Ciao grazie, tutto bene.</p>
                            </div> -->
                        </div>
                        <!-- input scrittura messaggio -->
                        <div class="my-footer p-1">
                            <div class="input-group">
                                <button class="px-3 py-1 border-0" id="basic-addon1"><i
                                        class="fa-regular fa-face-smile"></i></button>
                                <input type="text" class="form-control border-0 rounded-2" placeholder=""
                                    aria-label="Username" aria-describedby="basic-addon1" v-model="newMessage.message"
                                    @keyup.enter="addMessage()">
                                <button class="px-4 py-1 border-0" id="basic-addon1"><i
                                        class="fa-solid fa-microphone"></i></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

    <!-- js -->
    <script src="script.js"></script>
</body>

</html>