body {
    background-color: #DBDBD1;
    position: relative;

}

header {
    background-color: #009688;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;


}

.big-container {
    height: 700px;
    width: 1000px;

    position: relative;





}

/* [class^="col-"] {
    border: 1px solid black;
    height: 400px;
} */

.my-navbar {
    height: 50px;

    background-color: #EAEAEA;

}

.notifiche {
    height: 50px;

    background-color: #8EDAFB;
}

.list-chat {
    /* flex-grow: 1; */
    height: 560px;
    background-color: white;
    overflow: auto;
}

.list-container {
    flex-shrink: 0;
}

.my-chat-nav {
    min-height: 50px;

    background-color: #EAEAEA;
}

.my-chat-container {
    flex-grow: 1;
    background-image: url(imgs/mine.jpg);
    height: 600px;
    position: absolute;
    top: 50px;
    right: 0;
    left: 332px;
    opacity: 0;
    overflow: auto;
}

.my-footer {
    height: 50px;
    margin-top: 600px;
    background-color: #EAEAEA;
}

.avatar {
    height: 50px;
    border-radius: 50%;
}

.fa-regular,
.fa-solid {
    color: grey;
}

p {
    font-size: 12px;
}

.fa-bell-slash {
    color: #8EDAFB;
    background-color: white;
    border-radius: 50px;
    margin-right: 10px;
}

.sent>p {
    background-color: #D5F9BA;
}

.received>p {
    background-color: white;
}

.single-chat {
    padding: 5px;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.active {
    opacity: 1;
}

.white {
    background-color: white;
}

.sent-message {
    background-color: #D5F9BA;
    padding: 2px;
    text-align: end;
    align-self: flex-end;
}

.received-message {
    background-color: white;
    padding: 2px;
    text-align: start;
    align-self: flex-start;
}